:root {
    --color-lightest: #f4eeff;
    --color-light: #c4bbf0;
    --color-main: #927fbf;
    --color-dark: #4f3b78;
    --color-darkest: #2f1b41;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-lightest);
    color: var(--color-darkest);
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

h1 {
    font-family: "Bree Serif", sans-serif;
    font-size: 40px;
    margin: 0;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    margin: 10px;
}

h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.header-container h3 {
    max-width: 400px;
}

.header-container {
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(38, 0, 59, 0.2), rgba(37, 0, 51, 0.603)), url(images/header-bg.png);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.btn {
    background-color: var(--color-light);
    color: var(--color-darkest);
    font-weight: 600;
    border: none;
    padding: 16px 32px;
    margin-top: 30px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--color-main);
    transform: translateY(-2px);
}

@media (max-width: 960px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }
}

.footer-container {
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(38, 0, 59, 0.2), rgba(37, 0, 51, 0.603)), url(images/footer-bg.png);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.footer-links {
    color: white;
    text-decoration: none;
}

.home-about-container {
    display: flex;
    padding: 40px;
    justify-content: center;
}

.home-about-container > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    max-width: 900px;
    width: 100%;
}

.home-about-container h1 {
    font-family: "Caveat Brush";
    font-size: 40px;
}

.willow-circle {
    max-width: 400px;
}

.home-about-texts-container {
    max-width: 400px;
    text-align: left;
}

.about-sub-heading {
    margin-bottom: 0px;
}

.home-about-text {
    margin-bottom: 40px;
}

.learn-more-btn {
    background-color: var(--color-dark);
    color: white;
}

@media (max-width: 768px) {
    .home-about-container {
        padding: 20px;
    }

    .home-about-container>div {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        text-align: center;
    }

    .home-about-texts-container {
        max-width: 100%;
        text-align: center;
    }

    .willow-circle {
        max-width: 250px;
    }
}